#main-body{
    display: none;
}

#intro{
    height: auto;
    width: 100%;
    position: relative;
}
#about{
    height: auto;
    width: 100%;
    position: relative;
    letter-spacing: 3px;
}
#Theme{
    margin-top: -20px;
    height: auto;
    width: 100%;
    position: relative;
    letter-spacing: 1.5px;
    
}
#Mentors{
    height: auto;
    width: 100%;
    position: relative;
}
#sponsorship{
    width: 100%;
    height:auto;
    position: relative;
    margin-top: -20px;
}
#faqs{
    width: 100%;
    height: auto;
    position: relative;
}
.question-panel{
     
}
#registration{
    width: 100%;
    height: auto;
    letter-spacing: 3px;
}
#timeline1{
    width: 100%;
    height: auto;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    background: #456990;
    color: #fff;
}
.my-s{
    margin-top:-20px
}
.my-image{
    max-width: 60%;
    height: auto;
}
.my-image-2{
    max-width: 50%;
    height: auto;
}
.sponsorship-img{
    width:70%;
    height: auto;
}
.sponsorship-borochure-img{
    width: 5%;
    height: auto;
}
.round-top-right{
    border-top-right-radius: 50%;
}
.round-top-left{
    border-top-left-radius: 50%;
}
.round-bottom-right{
    border-bottom-right-radius: 50%;
}
.round-bottom-left{
    border-bottom-left-radius: 50%;
}
.rounded-complete{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.grey-shade-rounded{
    background-color: rgb(192, 189, 189);
    border-radius: 50%;   
}
.menu-image{
    width: 240px;
    height: auto;
}
.nav-bar-img{
    width: 24%;
    height:auto;
}

@keyframes focus {
    from {
      transform: translateY(-1px);
    }
    to {
      transform: translateY(1px);
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #hackathon {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  
  #person-left .head {
    animation: focus 1s infinite alternate linear;
  }
  
  #clock #hourhand {
    animation: rotate 5s infinite linear;
    transform-origin: 50% 87%;
  }
  #clock #minutehand {
    animation: rotate 2s infinite linear;
    transform-origin: 15% 87%;
  }
  
.stripe{
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
    text-align: center;
}
.stripe-left{
    left: 0px;
    float: inherit;
}
.stripe-right{
    padding-right: 10px;
    padding-left: 5px;
    right: 0px;
    float: inherit;
}
.stripe-bottom{
    bottom: 0px;
}

.stripe-quote{
    text-align: center;
}
.quote{
    font-size: 1.3em;
}
.description{
    font-size: 1.2em;
    color: white;
    text-align: justify;
}
.grey-color{
    background-color: rgb(102, 104, 117);
}
.red-shade{
    background-color: rgba(240, 90, 90, 0.829);
}
.grey-shade{
    background-color: rgb(192, 189, 189);
}
.green-shade{
    background-color: rgba(150, 241, 170, 0.548);
}


::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color:white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, rgb(33, 121, 202) 25%, red 50%, rgb(102, 104, 117) 75%, #008080 100%);
    background-repeat: no-repeat;
}

.parent{
    
    height: 500px;
  }
  
  .gear{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .gear .center{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    width: 100px;
    height: 100px;
    background: #456990;
    border-radius: 50%;
  }
  
  .tooth{
    position: absolute;
    top: -25px;
    left: 75px;
    z-index: 1;
    width: 45px;
    height: 250px;
    background:#fff;
  }
  
  .tooth:nth-child(2){
    transform: rotate(45deg);
  }
  
  .tooth:nth-child(3){
    transform: rotate(90deg);
  }
  
  .tooth:nth-child(4){
    transform: rotate(135deg);
  }
  
  @keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
  }

  /*-------Timeline Features-------*/

  .intro {
  background: #F45B69;
  padding: 100px 0;
}

.container1 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* timeline
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.purple{
    background-color: #6AA1DC !important;
}
.timeline ul {
  background: #456990;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}