#main-body{
    display: none;
}

#intro{
    height: 95%;
    width: 100%;
    position: relative;
}
#about{
    height: auto;
    width: 100%;
    position: relative;
    letter-spacing: 3px;
}
#challenge{
    margin-top: -20px;
    height: auto;
    width: 100%;
    position: relative;
    letter-spacing: 3px;
    
}
#sponsorship{
    width: 100%;
    height:auto;
    position: relative;
    margin-top: -20px;
}
#faqs{
    width: 100%;
    height: 100%;
    position: relative;
}
.question-panel{
     
}
#registration{
    width: 100%;
    height: 40%;
    letter-spacing: 3px;
}
#timeline{
    width: 100%;
    height: auto;
    letter-spacing: 3px;
}
.my-s{
    margin-top:-20px
}
.my-image{
    max-width: 60%;
    height: auto;
}
.my-image-2{
    max-width: 50%;
    height: auto;
}
.sponsorship-img{
    width:70%;
    height: auto;
}
.sponsorship-borochure-img{
    width: 5%;
    height: auto;
}
.round-top-right{
    border-top-right-radius: 50%;
}
.round-top-left{
    border-top-left-radius: 50%;
}
.round-bottom-right{
    border-bottom-right-radius: 50%;
}
.round-bottom-left{
    border-bottom-left-radius: 50%;
}
.rounded-complete{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.grey-shade-rounded{
    background-color: rgb(192, 189, 189);
    border-radius: 50%;   
}
.menu-image{
    width: 240px;
    height: auto;
}
.nav-bar-img{
    width: 24%;
    height:auto;
}

@keyframes focus {
    from {
      transform: translateY(-1px);
    }
    to {
      transform: translateY(1px);
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #hackathon {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  
  #person-left .head {
    animation: focus 1s infinite alternate linear;
  }
  
  #clock #hourhand {
    animation: rotate 5s infinite linear;
    transform-origin: 50% 87%;
  }
  #clock #minutehand {
    animation: rotate 2s infinite linear;
    transform-origin: 15% 87%;
  }
  
.stripe{
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
    text-align: center;
}
.stripe-left{
    left: 0px;
    float: inherit;
}
.stripe-right{
    padding-right: 10px;
    padding-left: 5px;
    right: 0px;
    float: inherit;
}
.stripe-bottom{
    bottom: 0px;
}

.stripe-quote{
    text-align: center;
}
.quote{
    font-size: 1.3em;
}
.description{
    font-size: 1.2em;
    color: white;
    text-align: justify;
}
.grey-color{
    background-color: rgb(102, 104, 117);
}
.red-shade{
    background-color: rgba(240, 90, 90, 0.829);
}
.grey-shade{
    background-color: rgb(192, 189, 189);
}
.green-shade{
    background-color: rgba(150, 241, 170, 0.548);
}


::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color:white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, rgb(33, 121, 202) 25%, red 50%, rgb(102, 104, 117) 75%, #008080 100%);
    background-repeat: no-repeat;
}

.parent{
    
    height: 500px;
  }
  
  .gear{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .gear .center{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    width: 100px;
    height: 100px;
    background: #9c27b0;
    border-radius: 50%;
  }
  
  .tooth{
    position: absolute;
    top: -25px;
    left: 75px;
    z-index: 1;
    width: 45px;
    height: 250px;
    background:#fff;
  }
  
  .tooth:nth-child(2){
    transform: rotate(45deg);
  }
  
  .tooth:nth-child(3){
    transform: rotate(90deg);
  }
  
  .tooth:nth-child(4){
    transform: rotate(135deg);
  }
  
  @keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
  }

  